<footer>
    <div class="container">
        <div class="quick-links">
            <a href="#">ABOUT US</a>
            <a href="#">ADD YOUR EVENT</a>
            <a href="#">SEARCH</a>
            <a href="#">CONTACT US</a>
            <a href="#">SUBSCRIBE TO NEWSLETTER</a>
            <a href="#">WRITE FOR US</a>
            <a href="#">ADVERTISE WITH US</a>
        </div>
        <div class="copyright">
            &copy; 2021 LatinoLife. All Rights Reserved. Terms of Use Privacy Policy About Our Ads Advertising
        </div>
    </div>
</footer>
